/* .profile-name {
	padding: 6px !important;
} */

.comment-name {
	font-weight: '500' !important;
}

.img-icon {
	margin-top: 10px !important;
}

.display-pic {
	width: '25px' !important;
	height: '25px' !important;
	border-radius: '8px' !important;
}
